# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Build
build/
dist/
*.egg-info/

# Artifacts
artifacts/

# Environment variables
.env

# testing file
test.py
/docs/project_tracker.md